// Custom spacers
$spacer: 1rem;

$primary: #215c5c;
$secondary: #cce8c9;

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 7,
  8: $spacer * 10,
  9: $spacer * 14,
  10: $spacer * 20,
);
